* {
    margin : 0;
    padding : 0;
}
main {
    width: 80vw;
    margin-left: 10vw;
}

 main img {
    width: 80vw;
    height: auto;
 }

 header {
    height: 15vh;
 }

 main h1 {
     font-family: Titres;
     margin-top: 15px;
 }

 main h3, main p {
    font-family: Textes;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 main span {
    background-color: #bebebe;
    border-radius: 25%;
    padding: 3px;
 }
