main hr{
  width: 5%
}

ul {
  list-style: none;
  margin-top: 3%;
  margin-bottom: 3%;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 2.5vw;
  color:#674636;
}

ul li.proganim{
  transition-property: padding-left;
  transition-duration: 0.5s;
}
li.proganim:hover{
  padding-left: 50px;
  color: gray;
}

a:hover{
  color: gray;
}
