* {font-family:arial, sans-serif;;
}

.imgprojet {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  z-index: -1;
  position: relative;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

main {
  margin-bottom: 10vh;
}

@keyframes fade {
  0%   {opacity: 0}
  20%   {opacity: 0.1}
  40%   {opacity: 0.2}
  60%   {opacity: 0.3}
  80%   {opacity: 0.4}
  100%   {opacity: 1}
}


figure {
  width: 90%;
  margin: 5%;
  position: static;
}

figure:hover figcaption {
  /* background-color: red; */
  animation-name: fade;
  animation-duration: 0.5s;
  display: block;
  color: white;
  text-shadow: #474747 3px 5px 2px, 1px 0px 0px rgba(150,150,150,0.75);
  opacity: 1;
  height: 1.2em;
  font-size: 3.5vw;
  width: 100%;
  margin-top: -6em;
  float: right;
  text-align: center;
  z-index: 1;
  padding-left: -50px;
  padding-right: -50px;

}

figure:hover img{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
	-webkit-transition: .2s ease;
	transition: .2s ease;
}

figcaption {
  display: none;
}
