

body{
  margin: 0;
  /* padding: 0; */
}

/* HEADER */

ul.inhead {
    list-style-type: none;
    margin: 0;
    padding-left: 5%;
    overflow: hidden;
    background-color: gray;
    position: relative;
    top: 0;
    width: 95%;
}

li.inhead {
    float: left;
    margin: 0;
}

li a.inhead {
    display: block;
    color: white;
    text-align: center;
    padding: 1.6vw 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    transition-property: opacity;
    transition-duration: 0.5s;
}

li a.inhead:hover {
    opacity: 0.5;
}

.logo{
  height: 5vw;
  width: auto;
  float: right;
  margin-right: 40.5vw;
}



/* FOOTER */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  background-color: gray;
}

footer h4{
  font-size: 1.5vw;
  color: white;
}

footer a{
  font-size: 1.3vw;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition-property: padding-left;
  transition-duration: 0.5s;
}


footer p{
  font-size: 1.6vw;
  color: white;
  text-decoration: none;
  margin: 50px;
  padding: 0;
}

footer a:hover{
  padding-left: 25px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 0;
  padding: 0;
}

footer hr {
  width: 12.5%;
  color: #674636;
  border: 1px solid;
}

#last{
  width:75%;
  color: white;
}
